img {
  display: block;
  margin: 0 auto;
}

header, footer {
  text-align: center;
}

nav {
  border-bottom: solid #8cf;
  border-radius: 0.5em;
}

nav, nav div {
  text-align: center;
  border-spacing: 0 !important;
}

nav div + div {
}

td {
  border: 0;
}

#exchange #left-panel, #exchange #right-panel {
  width: 50%;
}

.hidden {
  display: none;
}

.selected {
  background-color: #8cf;
  border-radius: 0.5em;
  color: #fff;
}