body { 
  margin: 0;
}

header, footer {
  padding: 1em;
  height: 6em;
  background-color: #333;
  color: #aaa;
  text-align: center;
}

nav {
  word-spacing: 1em;
}

section {
  padding: 1em;
  padding-top: 0em;
  max-width: 50em;
  margin: auto;
  text-align: justify;
  position: relative;
  top: -6em;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  background: rgba(255, 255, 255, 0.1);
}

#title {
  font-size: 3em;
  font-family: Arial, serif;
  letter-spacing: 0.5em;
}

#float {
  float: left;
  margin: 1em 1em 0.5em 0em;
}

.blockquot {
  padding-left: 1em;
  border-left: 1em solid #ddd;
}

p .smcap {
  font-variant: small-caps;
}

#first {
  text-indent: 1em;
}

h1, .center {
  text-align: center;
}

nav a, footer a {
  color: #fff;
}

footer p {
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;
}

img {
  display: block;
  margin: auto;
}

#num {
  font-family: 'Fira Code';
}
